### Writing to a File

In [2]:
with open("accounts.txt", mode = "w") as accounts:
    accounts.write("100  Jones  24.98\n")
    accounts.write("200  Doe  345.67\n")
    accounts.write("300  White  0.00\n")
    accounts.write("500 Rich 224.64\n")

In [4]:
my_accounts = ["100  Jones  24.98\n", "200  Doe  345.67\n", "300  White  0.00\n"]
with open("account2.txt", mode = "w") as accounts:
    for account in my_accounts:
        accounts.write(account)

### Reading from text file

In [2]:
with open("accounts.txt", mode ="r") as accounts:
    print(f'{"Account": <10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account: <10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
500       Rich          224.64

In [3]:
name1, name2 = ["ayo", "bola"]

print(name1)

ayo

In [6]:
sentence = "my name is Ayo"

name1, name2, name3, name4 = sentence.split()

print(name1)

my

In [8]:
with open("account2.txt", mode = 'w') as account:
    account.write("Ayo  33  Math\n")
    account.write("Dele 30  English")

In [9]:
with open("account2.txt", mode = 'r') as account:
    for record in account:
        name, age, subject = record.split()
        print(f'{name}\t{age}\t{subject}')

Ayo	33	Math
Dele	30	English

### Updating text files

In [23]:


temp_file = open("temp_file.txt", mode = 'w')
accounts = open("accounts.txt", mode = 'r')



with accounts, temp_file:
    for record in accounts:
        account, name, balance = record.split()

        if account != '300':
            temp_file.write(record)

        else:
            new_record = " ".join([account, 'william',  balance])
            temp_file.write(new_record + '\n')

In [24]:
with open("temp_file.txt", mode = 'r') as account:
    for record in account:
        account, name , balance = record.split()
        print(f"{account}\t{name}\t{balance}")

100	Jones	24.98
200	Doe	345.67
300	william	0.00
500	Rich	224.64

### Deleting updated files

In [25]:
import os

os.remove("accounts.txt")

### Renaming text file

In [26]:
os.rename("temp_file.txt", "accounts.txt")

### Serializing an Object to Json

In [29]:
account_dict = {
    "account":[
        {
            "account": 100, 
            "name": "Jones",
            "balance": 24.8
        },
        {
            "account":200,
            "name": "Doe", 
            "balance": 345.8
        }
    ]
}

In [33]:
account_dict["account"][0]

{'account': 100, 'name': 'Jones', 'balance': 24.8}

In [34]:
account_dict["account"][1]

{'account': 200, 'name': 'Doe', 'balance': 345.8}

In [42]:
import json

with open("accounts.json", mode = 'w') as accounts:
    json.dump(account_dict, accounts)

In [ ]:
import json

#returning it as json string 
obj = json.dumps(account_dict)

obj

'{"account": [{"account": 100, "name": "Jones", "balance": 24.8}, {"account": 200, "name": "Doe", "balance": 345.8}]}'

In [40]:
type(obj)

str

### Desriliazing the JSON Text

In [47]:
with open("accounts.json", 'r') as account:
    account_json = json.load(account)
print(account_json)

account_json["account"]
account_json["account"][0]

{'account': [{'account': 100, 'name': 'Jones', 'balance': 24.8}, {'account': 200, 'name': 'Doe', 'balance': 345.8}]}

{'account': 100, 'name': 'Jones', 'balance': 24.8}

### Displaying the JSON Text

In [50]:
with open("accounts.json", mode = 'r') as account:
    print(json.dumps(json.load(account), indent=4))

{
    "account": [
        {
            "account": 100,
            "name": "Jones",
            "balance": 24.8
        },
        {
            "account": 200,
            "name": "Doe",
            "balance": 345.8
        }
    ]
}

### Handling exceptions

In [55]:
def division(numerator, denominator):
    return f"{numerator/denominator:.2f}"

In [56]:
division(2, 3)

'0.67'

In [58]:
division(2,0)

ZeroDivisionError: division by zero

In [ ]:



def division(numerator, denominator):
    try:
        return f"{numerator/denominator:.2f}"
    except ZeroDivisionError:
        return f"Division by zero is not possible"

In [64]:
division(2,0)

'Division by zero is not possible'